body {
    text-align: center;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
  }

  .h2 {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    color:white;
    margin-bottom: 10px;
  }

  .td {
    vertical-align: top;
    text-align: left;
    font-size: 2rem;
    font-weight: bold;
    color:white;
  }
  
  .left-justified-text {
    color: white;
    text-align:justify;
    text-align-last: left;
    font-size: 1.3em;
  }

  .section {
    font-size: 3em;
    font-family: helvetica, arial;
    color:white;
    text-align: center;
    position: relative;
}


	/* Style for our header texts
	* --------------------------------------- */
	h1{
		font-size: 5em;
		font-family: arial,helvetica;
		color: #fff;
		margin:0;
		padding:0;
	}
	.intro p{
		color: #fff;
	}

	  /* Defining each section background and styles
	* --------------------------------------- */
	#section0{
		background:  -webkit-linear-gradient(#130c0b, #130c0b);
	}
    #section1 {
		background: -webkit-linear-gradient(#52578f, #000000);
	}
	#section2{
		background: -webkit-linear-gradient(#52578f, #000000);
	}
    #section3{
		background: -webkit-linear-gradient(#52578f, #000000);
	}
    #section4{
		background: -webkit-linear-gradient(#3c203f, #000000);
	}
    #section5{
		background: -webkit-linear-gradient(#275546, #000000);
	}
    #section6{
		background: -webkit-linear-gradient(#527e8f, #000000);
	}
    #section7{
		background: -webkit-linear-gradient(#0010bb, #000000);
	}
    #section8{
		background: -webkit-linear-gradient(#b81386, #000000);
	}

	/*Adding background for the slides
	* --------------------------------------- */
	#slide1{
		background: -webkit-linear-gradient(#52578f, #000000);
	}
	#slide2{
		background: -webkit-linear-gradient(#52578f, #000000);
	}

 	/* Buttons Menu
	* --------------------------------------- */
    * {
        margin: 0;
        padding: 0;
        list-style-type: none;
      }

      ul{
        display: flex;
        font-size: large;
        width: 100%;
        height: 80vh;
        margin: auto;
        max-width: 1500px;
        justify-content: space-between;
        text-align: left;
      }

      li {
        padding: 1rem 2rem 1.15rem;
        text-transform: uppercase;
        cursor: pointer;
        color: white;
        min-width: 80px;
        margin: auto;
        text-align: center;
        
      }
      
      #buttons li a {
        text-decoration: none;
        padding: 1rem 2rem 1.15rem;
        text-transform: uppercase;
        cursor: pointer;
        color: #FFFFFF;
        min-width: 80px;
        margin: auto;
      }
    
      
      li:hover {
        background-color: grey;
        text-decoration: none;
        opacity: 0.5;
        color:white;
        font-weight: bold;
      }

      li:active {
        transform: translateY(4px);
      }

 	/* Artists page
	* --------------------------------------- */
      .section--header {
        color: #b3b3b3;
        font-size: 1rem;
        margin-top: -8px;
        font-weight: 100;
        display: flex;
        justify-content: space-between;
    }
    
    .section--header--left {
        margin-left: 65px;
    }
    .section--header--right {
        margin-right: 67px;
    }
    a.section--header--right--more,
.section--body--item--subtitle,
.section--body--item--subtitle a {
    color: #b3b3b3;
    font-size: 0.8rem;
    text-decoration: none;
}

a.section--header--right--more:hover,
.section--body--item--subtitle a:hover {
    border-bottom: 1px solid #b3b3b3;
}

a.section--header--right--more {
    font-weight: 700;
    letter-spacing: 1.35px;
}

.section--body--item {
    width: 165px;
    height: 200px;
    background-color: rgb(38, 38, 38);
    display: inline-block

}
.section--body--item:hover {
  background-color: rgb(66, 66, 66);
}

.section--body--item.album--item,
.section--body--item.artist--item {
    padding: 20px;
    cursor: pointer;
    display: inline-block

}

.section--body--item + .section--body--item {
    margin-bottom: 10px;
} 
.section--body--item .section--body--item--img {
    width: 125px;
    height: 125px;
    padding-left: 20px;
}

.section--body--item .section--body--item--img img {
    max-width: 100%;
    height: auto;
    box-shadow: 0 10px 30px 0 rgba(0,0,0,.3), 0 1px 2px 0 rgba(0,0,0,.2);
}

.section--body--item--title {
    margin-top: 1rem;
    margin-bottom: 0;
    font-weight: 600;
    font-size: 0.9rem;
    text-overflow: ellipsis;
    overflow-x: hidden;
    white-space: nowrap;
}

.section--body--item--subtitle {
    margin: 0;
    margin-top: 1px;
}

.section--body--item.artist--item .section--body--item--img img {
    border-radius: 50%;
}

.section--body--item--play {
    /*display: none;*/
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background: #1db954;
    align-items: center;
    justify-content: center;
    position: relative;
    box-shadow: 0px 0px 8px 8px rgb(37, 37, 37);
    cursor: default;
    
}

.section--body--item--play:hover,
.section--body--item--play.active {
    transform: scale(1.05);

}
.rectangle{
  padding-top: -40px;
    width:150px;
    height:180px;
    z-index: 1000;
    background-color: rgb(93, 93, 93,0.8);
    position: absolute;
    text-align: center;
    font-size: 17px;
   /* top: 250px;
    right: 1150px;*/
    color: white;
    display: none;
  }

.section--body--item--play:hover + .rectangle {
  display: block;
}


.button-dark {
    background: green;
    color: white;
    border: 1px solid green;
}
.button-dark:hover {
      background: lighten( green, 10% );
    
  }

 
  